/* stylelint-disable */

// * colors
$white: #ffffff;
$black: #000000;

$dark-800: #0e1d1d;

$orange-200: #b08d7a;

// * fonts
$fw-400: 400;
$fw-600: 600;

$tacticSans: 'TacticSans';
$tacticSansExd: 'TacticSansExd';
